<% include partials/header.ejs %>
<div class="table-wrapper">
    <h1><% todo.length %></h1>
    <% if(todo.length > 0) {%>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% todo.forEach((todo, index) => { %>
                <tr>

                    <th scope="row"><%= todo.id %></th>
                    <td><%= todo.description %></td>
                    <td><%=  todo.time %></td>
                    <td><%=  todo.category %></td>
                    <td>
                        <a href="/edit/<%= todo.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                        <a href="/delete/<%= todo.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p class="text-center">No task found. Go <a href="/add" >here</a> to add tasks.</p>
   <% } %>
</div>